<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Nearal
    </title>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-color:#fdfdfd;">
    <div>
        <img class = "icon" alt="logo" src="/static/images/nearal.png">
    </div>
    <div class="article">
        <p>&nbsp;</p>
        <p align="center">
            <!-- from dictionary -->
            <img class="user_pic" src="/static/images/{{user.img_url}}" alt="">
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center; font-size: 33px;"><b>{{user.username}}</b></p>
        <p style="text-align: center; font-size: 24px;">{{user.position}}</p>
        <p style="text-align: center; font-size: 21px;">&#64; {{user.company}}</p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center; font-size: 15px;">Get connected via</p>
        <p align="center">
            {% if phone == 'ios' %}
                <a href = "https://apps.apple.com/us/app/nearal/id1449345424">
                    <img class="install"src="/static/images/install.png" alt="">
                </a>
            {% else %}
                <a href = "https://play.google.com/store/apps/details?id=com.nearal.android&hl=en_US">
                    <img class="install"src="/static/images/install.png" alt="">
                </a>
            {% endif %}
        </p>
    </div>
</body>

</html>